html{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
	font-size: 18px;
}

/* header */
header{
	background-color: white;
	font-size: 18px;
}
header>div{
	display: flex;
	gap:750px;
}
header>div>h1{
	align-self:left;
}

header>div>nav{
	align-self: right;
}

header>div>nav>ul{
	list-style-type: none;
}
header>div>nav>ul>li,  header>div>nav>ul>li>a{
	color: #6b7280;
	display: inline;
	padding-right: 5px;
	padding-left: 5px;
	text-decoration: none;	
}

header>div>nav>ul>li>a:hover{
	color: #5A67D8;
}


/* Section Overview */
section.overview-hero{
	background-color: #e2e8f0;
}

section.overview-hero>div{
	display: flex;
	align-items: center;
	gap: 20px;
}

section.overview-hero>div>div.overview-hero-image{
	padding: 70px 100px 70px 200px;	
}

section.overview-hero>div>div>img{
	border-radius: 5px;
	height:270px; 
	width:300px;
}

section.overview-hero>div>div.overview-hero-text{
	padding: 70px 300px 70px 0px;
}

/*Section Learn-About*/
section.learn-about{
	padding: 0px 200px 70px 200px;
}

section.learn-about>div>div{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

section.learn-about>div>div>div.card{
	border-style: outset;
	border-radius: 10px;
	width: 330px;
	}
	
div.card>img{
  height: 250px;
  width: 300px;
}
section.learn-about>div>h2{
	font-size: 24px;
	color: #48bb78;
}
div.card-body>h3{
	color: #48bb78;
	font-size: 21px;
}

div.card-body>h3{
	padding: 10px 10px 0px 10px;
}

div.card-body>p{
	padding: 0px 10px 5px 10px;
}

/*Section Testing*/
section.testing{
	background-color: #4a5569;
	color: white
}

section.testing>div.container{
  display: grid;
  grid-template-columns: 1fr .5fr;
  gap: 60px;
  height: 300px;
}
section.testing>div>div.testing-desciption{
  padding: 70px 100px 50px 300px;
}

.cta{
	background-color:#48bb78;
	border-radius: 5px; 
	position:relative;
	top: 100px;
  width: 200px;
  height: 50px;
}

.cta>a{
  	text-decoration: none;
  	color: inherit;
  	position: absolute;
  	padding: 15px 0px 0px 50px;
}

/*Section Stories*/
section.stories{
	padding: 90px 300px 90px 250px;
}

.stories>div.container{
	display: grid;
	grid-template-rows: .2fr 1fr 1fr;
	gap: 50px;
}
.stories>div>h2, div>p>a[href]{
	color: #5a67d8;
}

div>p>a[href]{
  	text-decoration: none;
 }
 
.article-body>h3{
  	font-size: 18px;
}

article>img{
  float: left;
  margin-right: 40px;
	border-radius: 150px;
	height: 200px;
	width: 200px;
}

/*Section newsletter*/
section.newsletter{
	border: 8px dashed green;
	background-color: #48bb78;
	color: white;
}

section.newsletter>form>button.btn{
	background-color: #5a67d8;
}

/*Footer*/
footer{
	background-color: #4a5568;
	color: white;
}
